[Unit]
Description=Crm Service
After=network.target

[Service]
ExecStart=/root/CRM_Agent/run.sh
Restart=always
User=root
WorkingDirectory=/usr/local/bin

[Install]
WantedBy=multi-user.target

